# Python
__pycache__/
*.py[cod]
.venv/
.venv1/

# Mac
.DS_Store

# Project Specific
outputs/
src/Neural Audio Codecs/outputs/
*.pt
*.pth
*.ogg
*.mp3
*.log
debug_output.txt
tokens_readable.txt
springtime_tokens.pt
tokens03.pt
src/temp_current_slice.ogg
src/.gemini_usage.json
